<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <a href="/home/logout">Logout</a>

        }
        else
        {
            <a href="/home/login">Login</a>
        }
        @RenderBody()
    </div>
</body>
</html>
